<footer>
    <div class="l1">
        <span class="by"><%- techCredit %></span>
        <nav class="subMenu">
            <a href="#keep_in_touch"><%= keepInTouch.menuText %></a>
            <a href="<%= legalsMenuLink %>"><%= legalsMenuText %></a>
        </nav>
    </div>
    <% if(Object.keys(altLang).length){ %>
    <nav class="altLang">
        <img src="../img/lang.svg" alt="Select your prefered language."/>
        <span><%= altLangListText %></span>
        <% for(let lang in altLang){
            let altUrl = altLang[lang];
        %>
        <a href="../<%= lang %>/<%= altUrl %>"><%= availableLang[lang] %></a>
        <% } %>
    </nav>
    <% } %>
</footer>
