<head prefix="og: http://ogp.me/ns# website: http://ogp.me/ns/website#">
  <meta charset="utf-8"/>
  <title><%=title%></title>
  <link rel="stylesheet" href="style.css"/>

  <link rel="shortcut icon" href="img/logo/favicon.ico" type="image/x-icon"/>

  <link rel="icon" href="img/logo/16.png" type="image/png"/>
  <link rel="icon" sizes="32x32" href="img/logo/32.png" type="image/png"/>
  <link rel="icon" sizes="64x64" href="img/logo/64.png" type="image/png"/>
  <link rel="icon" sizes="96x96" href="img/logo/96.png" type="image/png"/>
  <link rel="icon" sizes="196x196" href="img/logo/196.png" type="image/png"/>
  <link rel="icon" sizes="1000x1000" href="img/logo/1000.png" type="image/png"/>
  <link rel="icon" sizes="any" href="img/logo/logo.svg" type="image/svg+xml"/>

  <link rel="apple-touch-icon" sizes="152x152" href="img/logo/152.png"/>
  <link rel="apple-touch-icon" sizes="60x60" href="img/logo/60.png"/>
  <link rel="apple-touch-icon" sizes="76x76" href="img/logo/76.png"/>
  <link rel="apple-touch-icon" sizes="114x114" href="img/logo/114.png"/>
  <link rel="apple-touch-icon" sizes="120x120" href="img/logo/120.png"/>
  <link rel="apple-touch-icon" sizes="144x144" href="img/logo/144.png"/>

  <meta name="msapplication-TileImage" content="img/logo/144.png"/>
  <meta name="msapplication-TileColor" content="#FFFFFF"/>

  <link rel="canonical" href="<%=canonical%><%=fileName%>.html"/>
  <% for(let lang in altLang){
    let altUrl = altLang[lang];
  %>
  <link rel="alternate" hreflang="<%=lang%>" href="../<%=lang%>/<%=altUrl%>"/>
  <% } %>
  <link type="text/plain" rel="author" href="<%=canonical%>humans.txt" />
  <meta name="viewport" content="width=device-width, initial-scale=1"/>
  <link rel="manifest" href="manifest.json"/>
  <meta name="theme-color" content="rgb(255,198,84)"/>


  <meta property="og:type" content="website" />
  <meta property="og:locale" content="<%=activeLang%>" />
  <meta property="og:title" content="<%=og.title%>" />
  <meta property="og:site_name" content="<%=og.site_name%>" />
  <meta property="og:url" content="<%=canonical%><%=fileName%>.html" />

  <meta property="og:image" content="<%=canonical%><%=og.images_path%><%=og.image%>" />
  <meta property="og:image:width" content="1200" />
  <meta property="og:image:height" content="628" />

  <meta property="og:description" content="<%=description%>" />
  <meta property="og:updated_time" content="<%=now%>"/>
  <meta name="description" content="<%=description%>" />
  <script src="../main.js" defer></script>
  <script> navigator.serviceWorker.register('service_worker.js'); </script>
</head>
