<aside class="subPage popout" id="keep_in_touch">
    <div class="content">
        <div style="background-image: url('img/newsletter_chant_de_l_être.JPG');">
            <hr> <div style="border:3px solid #10cbdf;background-color:#e7f9fb;color:#000000;text-align:center; font-weight:bold;">
                <a href="mailto:voi@riseup.net?subject=[contact]&body=Coucou Cha, je consens à recevoir tous les deux mois une newsletter concernant toutes tes activités. A bientôt, un.e nouvel.le abonné.e.">Restez informé ! <br>
                    Une fois tous les deux mois, je vous envoie par e-mail mes prochaines dates et quelques news. <br>
                    Ca vous dit ? <br>
                    Cliquez sur l'encadré ici, appuyez sur envoyer le mail & VOI♫LA<br>
                    A bientôt pour votre 1ère newsletter VOI</a>
            </div>
        </div>
    </div>
</aside>
