<a class="resumeLink" href="<%= evType.pageUrl %>" style="background-image: linear-gradient(to right, rgba(100%,100%,100%,.8) 0%, rgba(100%,100%,100%,.8) 100%),url('<%= evType.img %>');">
    <h2><%= evType.resumeTeaserTitle %></h2>
    <strong class="right"><%= evType.duration %></strong>
    <h3><%= evType.resumeTypeTitle %></h3>
    <p><%- evType.resumeDescription %>
    </p>
</a>
