<header>
  <nav class="main">
    <h1><a href=""><img src="img/logo-voi-couleurs.png" alt="<%=titre%>"/></a></h1>
    <div class="spacer"></div>

    <a href="./">Accueil</a>
    <a href="./chant.html">Bain Sonore</a>
    <a href="./stage.html">Accompagnement VOI</a>
    <a href="./autres.html">Formations</a>
    <a href="./agenda.html">Agenda</a>
    <a href="./cha-qui.html">A propos</a>
    <a href="./contact.html">Contact</a>
  </nav>
  <div id="disclamer"><div class="close">X</div>Bonjour, Je vous invite à vous offrir ce qui est pleinement bon pour vous ici & maintenant. Information importante : ce site est sans cookies, YOUPI !</div>
</header>
