
<%
for (let coop of partenaires){
    if(!coop.img.includes('/')) coop.img = `img/partenaires/${coop.img}`;
%>
<a class="event partenaire" href="<%= coop.url %>">
    <img  class="illu" src="<%= coop.img %>" alt="<%= coop.title %>"/>
    <div>
        <h2 class="titleLong">
            <%= coop.title %>
        </h2>
        <p class="teaser"><%- coop.description %>
        </p>
    </div>
</a>
<%
}
%>
