<%
const months = [0,'Janvier', 'Février', 'Mars', 'Avril','Mai', 'Juin','Juillet', 'Août','Septembre', 'Octobre','Novembre', 'Décembre'];
function formatDate(dateStart,dateEnd){
    const dS = dateStart.toISOString().split('T')[0].split('-').reverse();
    const dE = dateEnd.toISOString().split('T')[0].split('-').reverse();
    dS[1]= months[parseInt(dS[1])];
    dE[1]= months[parseInt(dE[1])];
    for(let i = dE.length-1;i>=0;i--) {
        if(dE[i]===dS[i]) dS.pop();
        else break
    }
    if(dS.length === 0) return `Le ${dE.join(' ')}`;
    return `Du ${dS.join(' ')} au ${dE.join(' ')}`;
}

%>
<div class="event past">
    <div>
        <div>
            <span class="date">
                <%= formatDate(myEvent.dateStart,myEvent.dateEnd) %>
                <input hidden class="debut" value="<%= myEvent.dateStart %>"/>
                <input hidden class="fin" value="<%= myEvent.dateEnd %>"/>
            </span>
            <h2>
                <span class="titleShort"><%= myEvent.titleShort?myEvent.titleShort:myEvent.type.titleShort %></span>
                <span class="titleLong"><%= myEvent.titleLong?myEvent.titleLong:myEvent.type.titleLong %></span>
            </h2>
            <span class="place">
                <a target="_blank" href="https://www.openstreetmap.org/?mlat=<%= myEvent.place.gps.lat %>&mlon=<%= myEvent.place.gps.lon %>#map=12/<%= myEvent.place.gps.lat %>/<%= myEvent.place.gps.lon %>">📍</a>
                <%- myEvent.place.address %>
                <span class="region"><%= myEvent.place.region %></span>
            </span>
        </div>
    </div>
</div>
