<%
//let temoignages = importYamlFile('../temoignages.yml');
temoignages.sort( (a,b) => b.date.getTime() - a.date.getTime() );
if(typeof filter !== "undefined") temoignages = temoignages.filter( (e) => e.tags.indexOf(filter) !== -1 );

const cards = [];
temoignages.forEach(t=>{
    cards.push(`<article class="card cover"><div class="message">« ${t.message} »</div>
<div class="author"><span class="name">${t.author}</span>
${t.age?`<span class="age">${t.age} ans</span>`:''}
${t.activity?`<span class="activity">${t.activity}</span>`:''}
</div></article>`);
});
_%>
<%- include('../../../node_modules/1gallery/1gallery.ejs',{cards:cards,classes:'autoplay-15s review'}); %>
