<section>
<div class="flexArea reverse">
<br>
<br>
<a class="resumeLink" href="contact.html" style="background-image: linear-gradient(to right, rgba(100%,100%,100%,.8) 0%, rgba(100%,100%,100%,.8) 100%),url('img/newsletter_chant_de_l_être.JPG');">
    <h2 class="center">Contact : 06 26 44 81 71</h2>
</a>
<a class="resumeLink" href="newsletter.html" style="background-image: linear-gradient(to right, rgba(100%,100%,100%,.8) 0%, rgba(100%,100%,100%,.8) 100%),url('img/newsletter_chant_de_l_être.JPG');">
    <h2 class="center">Inscription Newsletter</h2></a></div>
<br>
<br>
<section>
<div class="flexArea reverse">
<br>
<br>
<a class="resumeLink" href="doulas.html" style="background-image: linear-gradient(to right, rgba(100%,100%,100%,.8) 0%, rgba(100%,100%,100%,.8) 100%),url('img/newsletter_chant_de_l_être.JPG');">
    <h2 class="center">Doula</h2>
</a>
<a class="resumeLink" href="voi.html" style="background-image: linear-gradient(to right, rgba(100%,100%,100%,.8) 0%, rgba(100%,100%,100%,.8) 100%),url('img/newsletter_chant_de_l_être.JPG');">
    <h2 class="center">Voi</h2></a></div>
<br>
<br>
